/* SCSS fajl za stranicu videa. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/

@mixin video {
    .video {
        padding: 0px;

        h3 {
            margin: 5px 0px 5px 0px;
        }

        .embed-responsive-16by9 {
            padding-bottom: 56.25%; // da se skejluje dobro video po visini
            iframe {
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }

        .video-details {
            margin: 0px 0px 20px 0px;

            #video-details-heading {
                background-color: white;
                border-color: white;
                padding: 6px 10px 5px 10px;

                #video-details-table {
                    width: 100%;
                    table-layout: fixed;

                    #video-details-r0-c0 {}

                    #video-details-r0-c1 {
                        width: 60px;
                        text-align: center;
                        vertical-align: bottom;
                    }

                    #video-details-r0-c2 {
                        text-align: right;
                    }

                    #video-details-r1-c0 {
                        #btn-subscribe {
                            visibility: hidden;
                        }
                    }

                    #video-details-r1-c1 {
                        text-align: center;

                        a {
                            text-decoration: none;
                        }

                        span {
                            vertical-align: bottom;

                            //display: block;
                            margin: 0px;
                            padding: 0px;
                        }
                    }

                    #video-details-r1-c2 {
                        text-align: right;

                        #video-details-line-container {
                            width: 120px;
                            height: 4px;
                            display: inline-block;

                            //border: 1px solid black;

                            #video-details-like-line {
                                float: left;
                                border: 0px;
                                height: 100%;
                                background-color: #0CB71B;
                            }

                            #video-details-dislike-line {
                                float: right;
                                border: 0px;
                                height: 100%;
                                background-color: red;
                            }
                        }
                    }

                    #video-details-r2-c2 {
                        text-align: right;

                        a {
                            text-decoration: none;

                            #video-dugme-like {
                                display: inline-block;
                                font-size: 15px;
                            }

                            #video-dugme-dislike {
                                margin-left: 10px;
                                display: inline-block;
                                font-size: 15px;
                            }
                        }

                        p {
                            display: inline-block;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                }

                #video-details-table, tr, td, th {
                    //border: 1px solid black;
               
                }
            }

            dl {
                margin: 10px 0px 10px 0px;

                dt {
                    margin: 0px;
                    width: 70px;
                }

                dd {
                    margin-left: 77px;
                }

                @include xs {
                    dt {
                        margin-left: 6px;
                    }

                    dd {
                        margin-left: 11px;
                    }
                }
            }

            hr {
                margin: 0px;
                border: 0px;
                height: 1px;
                background-color: #ddd;
            }
        }

        #komentari-container {
            padding: 7px;
            margin-bottom: 12px;
            border: 1px solid #DDD;
            border-radius: 10px;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.11);

            #komentar-novi-ime {
                padding: 0px;
                margin: 0px 0px 3px 0px;
            }

            #komentar-novi-container {
                margin-bottom: 10px;
            }

            #komentari-lista {
                margin-bottom: 5px;

                .komentar-ime{
                    display: inline;
                    padding: 0px;
                    margin: 0px;
                    font-weight: 500;
                }
                .komentar-datum{
                    display: inline;
                    padding: 0px;
                    margin: 0px 0px 0px 10px;
                    color: #AAA;
                    font-size: smaller;
                }
                .komentar-sadrzaj{
                    display: block;
                    padding: 0px;
                    margin: 0px;
                }
                .komentar-button-like{
                    display: inline;
                    font-size: small;
                }
                .komentar-broj-like{
                    display: inline;
                    margin-left: 4px;
                    font-size: smaller;
                }
                .komentar-button-dislike{
                    display: inline;
                    margin-left: 12px;
                    font-size: small;
                }
                .komentar-broj-dislike{
                    display: inline;
                    margin-left: 4px;
                    font-size: smaller;
                }

                .komentar-dugme-link{
                    text-decoration: none;
                }
            }

            hr {
                margin: 0px 0px 10px 0px;
                padding: 0px;
                border-color: #DDD;
            }

            nav{
                margin: 0px 0px 0px 0px;
                text-align: center;
                height: auto;

                #paginacija {
                    margin: 0px 0px -6px 0px;
                }
            }
            
        }
    }
}
