/* SCSS fajl za ceo sajt. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/

@import "vars";
@import "mixins";
@import "navigacija-gore";
@import "navigacija-levo";
@import "navigacija-dole";
@import "profil";
@import "video";
@import "video_panel";
@import "pretraga";
@import "videoNew";
@import "admin-panel";
@import "error-404";

@include main;
@include navigacija-gore;
@include navigacija-levo;
@include navigacija-dole;
@include profil;
@include video;
@include video_panel;
@include pretraga;
@include videoNew;
@include admin-panel;
@include error-404;

.page {
    margin-top: 70px;
    margin-left: -15px;
    margin-right: -15px;
    height: calc(100% - 150px);
}

@include xs {
    .page {
        height: calc(100% - 420px);
        margin-top: 170px;
    }
}


.main {
    //height: 100%;
    display: block;
    padding: 0px 8px 0px 8px;
}
