/* SCSS fajl za ceo sajt. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za gornju navigaciju. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za bocnu levu navigaciju. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za donju navigaciju. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za stranicu profila. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za stranicu videa. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }

html {
  height: 100%; }

body {
  height: 100%; }

.osnova {
  height: 100%; }

.navigacija-gore {
  position: fixed;
  z-index: 2;
  padding: 0px;
  margin-top: 7px;
  height: auto;
  background: #F5F5F5;
  top: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  .navigacija-gore nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 50px; }
    .navigacija-gore nav ul li {
      padding-left: 10px;
      padding-right: 10px; }
  .navigacija-gore .navigacija-logo {
    margin-left: 6px;
    line-height: 50px; }
    .navigacija-gore .navigacija-logo a {
      text-decoration: none; }
  .navigacija-gore .navigacija-search {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px; }
    .navigacija-gore .navigacija-search input {
      height: 36px; }
    .navigacija-gore .navigacija-search .input-group-btn {
      width: 40px; }
      .navigacija-gore .navigacija-search .input-group-btn button {
        height: 36px;
        padding-top: 9px;
        padding-bottom: 9px; }
  .navigacija-gore #navigacija-gore-polje {
    line-height: 50px;
    height: 50px; }
    .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil {
      position: absolute;
      right: 10px;
      top: 7px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil button {
        padding-top: 8px;
        padding-bottom: 6px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil .divider {
        margin: 0px;
        height: 1px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #login-dropdown {
        width: 240px;
        height: 132px;
        padding: 5px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #login-dropdown li {
          padding: 0px;
          height: 39px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #login-dropdown input {
          margin-bottom: 5px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #login-dropdown button {
          margin-top: -2px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #register-dropdown {
        width: 240px;
        height: 250px;
        padding: 5px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #register-dropdown li {
          padding: 0px;
          height: 39px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #register-dropdown input {
          margin-bottom: 5px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #register-dropdown button {
          margin-top: -2px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil p {
        display: inline-block;
        color: #f00;
        margin-left: 10px;
        margin-bottom: 0px;
        margin-top: -3px;
        width: 130px;
        line-height: 13px;
        vertical-align: middle;
        size: 9px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #profil-dropdown {
        width: 50px;
        height: auto;
        padding: 5px;
        text-align: center; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #profil-dropdown a {
          padding: 0px;
          line-height: 19px;
          text-align: center; }

@media screen and (max-width: 767px) {
  .navigacija-gore {
    height: auto;
    position: absolute; } }
#navigacija-levo {
  display: block;
  position: fixed;
  padding: 0px;
  height: calc(100% - 163px);
  background: #F5F5F5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  #navigacija-levo ul {
    list-style: none;
    padding: 0px;
    margin: 15px; }
    #navigacija-levo ul a {
      text-decoration: none; }
    #navigacija-levo ul .sidebar-menu-item {
      height: 30px;
      padding: 0px 0px 0px 5px;
      border-radius: 2px;
      line-height: 30px; }
    #navigacija-levo ul .sidebar-menu-item:hover {
      background: #DDDDDD; }
    #navigacija-levo ul .sidebar-subscribed-channel {
      height: 30px;
      margin: 5px 0px 0px 10px;
      padding: 0px 0px 0px 5px;
      border-radius: 2px;
      line-height: 30px; }
      #navigacija-levo ul .sidebar-subscribed-channel img {
        float: right;
        width: 30px;
        height: 30px; }
    #navigacija-levo ul .sidebar-subscribed-channel:hover {
      background: #DDDDDD; }

@media screen and (max-width: 767px) {
  #navigacija-levo {
    display: none; } }
.navigacija-dole {
  height: 80px;
  background: #F5F5F5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  .navigacija-dole ul {
    list-style: none;
    height: 100%; }
    .navigacija-dole ul li div {
      text-align: center; }

@media screen and (max-width: 767px) {
  .navigacija-dole {
    height: 250px; } }
.profile-details {
  padding: 10px;
  background: #F5F5F5;
  margin-bottom: 6px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18);
  vertical-align: middle; }
  .profile-details #profile-image {
    width: 100px;
    height: 100px; }
  .profile-details .profile-p {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    height: auto; }
  .profile-details .profile-p-title {
    font-weight: 600; }
  .profile-details .profile-input-div {
    margin: 3px 0px 0px 0px; }
    .profile-details .profile-input-div #profile-input-ime {
      display: inline-block;
      width: 150px;
      padding: 5px 4px 5px 4px;
      height: 26px; }
    .profile-details .profile-input-div #profile-input-prezime {
      display: inline-block;
      width: 150px;
      padding: 5px 4px 5px 4px;
      height: 26px; }
    .profile-details .profile-input-div #profile-input-opis {
      display: inline-block;
      width: 200px;
      padding: 1px 3px 1px 3px;
      resize: none;
      vertical-align: middle; }
    .profile-details .profile-input-div #profile-user-type {
      width: auto;
      display: inline-block;
      padding: 4px 4px 4px 4px;
      height: 26px;
      vertical-align: middle; }
    .profile-details .profile-input-div #profile-lozinka1 {
      display: inline-block;
      width: 150px;
      padding: 6px 4px 6px 4px;
      height: 26px;
      vertical-align: middle; }
    .profile-details .profile-input-div #profile-lozinka2 {
      display: inline-block;
      width: 150px;
      padding: 6px 4px 6px 4px;
      height: 26px;
      vertical-align: middle; }
    .profile-details .profile-input-div #profile-user-block {
      width: auto;
      display: inline-block;
      padding: 3px 4px 4px 4px;
      height: 26px;
      vertical-align: middle; }
  .profile-details #btn-subscribe {
    position: absolute;
    top: 10px;
    right: 10px; }
  .profile-details #btn-profile-edit {
    margin: 5px 0px 0px 0px; }
  .profile-details #button-div {
    margin-top: 6px; }
    .profile-details #button-div #btn-profile-save {
      margin: 3px 0px 3px 0px; }
    .profile-details #button-div #btn-profile-cancel {
      margin: 3px 0px 3px 7px; }
    .profile-details #button-div #profile-log {
      display: inline-block;
      margin: 0px 0px 0px 15px;
      color: red;
      width: 150px;
      vertical-align: middle; }
  .profile-details #btn-profile-delete {
    position: absolute;
    bottom: 10px;
    right: 10px; }

#profil-video-sort-wrapper {
  height: auto;
  padding: 0px 5px 0px 5px; }
  #profil-video-sort-wrapper #sort-filter {
    display: inline-block;
    margin-right: 15px; }
    #profil-video-sort-wrapper #sort-filter p {
      padding: 0px;
      margin: 0px; }
    #profil-video-sort-wrapper #sort-filter select {
      width: auto;
      padding: 4px 8px 4px 8px; }
  #profil-video-sort-wrapper #sort-by-filter {
    display: inline-block;
    margin-right: 10px; }
    #profil-video-sort-wrapper #sort-by-filter p {
      padding: 0px;
      margin: 0px; }
    #profil-video-sort-wrapper #sort-by-filter .radio-inline {
      margin-right: 5px;
      margin-top: 6px; }
      #profil-video-sort-wrapper #sort-by-filter .radio-inline label {
        font-size: 20px;
        margin: 0px; }

#profile-videos {
  padding: 0px;
  margin-top: 6px; }

#profil-pretplate {
  background: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18);
  padding: 6px;
  margin-bottom: 10px; }
  #profil-pretplate div {
    padding-left: 5px;
    padding-right: 5px; }
    #profil-pretplate div .profil-pretplata {
      background: #E5E5E5;
      border-radius: 6px;
      box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.13);
      margin-bottom: 4px; }
      #profil-pretplate div .profil-pretplata p {
        margin: 0px;
        display: inline; }
      #profil-pretplate div .profil-pretplata .badge {
        float: right; }

.video {
  padding: 0px; }
  .video h3 {
    margin: 5px 0px 5px 0px; }
  .video .embed-responsive-16by9 {
    padding-bottom: 56.25%; }
    .video .embed-responsive-16by9 iframe {
      width: 100%;
      height: 100%;
      position: absolute; }
  .video .video-details {
    margin: 0px 0px 20px 0px; }
    .video .video-details #video-details-heading {
      background-color: white;
      border-color: white;
      padding: 6px 10px 5px 10px; }
      .video .video-details #video-details-heading #video-details-table {
        width: 100%;
        table-layout: fixed; }
        .video .video-details #video-details-heading #video-details-table #video-details-r0-c1 {
          width: 60px;
          text-align: center;
          vertical-align: bottom; }
        .video .video-details #video-details-heading #video-details-table #video-details-r0-c2 {
          text-align: right; }
        .video .video-details #video-details-heading #video-details-table #video-details-r1-c0 #btn-subscribe {
          visibility: hidden; }
          .video .video-details #video-details-heading #video-details-table #video-details-r1-c0 #btn-subscribe .badge {
            background-color: #337ab7;
            color: #FFF; }
        .video .video-details #video-details-heading #video-details-table #video-details-r1-c1 {
          text-align: center; }
          .video .video-details #video-details-heading #video-details-table #video-details-r1-c1 a {
            text-decoration: none; }
          .video .video-details #video-details-heading #video-details-table #video-details-r1-c1 span {
            vertical-align: bottom;
            margin: 0px;
            padding: 0px; }
        .video .video-details #video-details-heading #video-details-table #video-details-r1-c2 {
          text-align: right; }
          .video .video-details #video-details-heading #video-details-table #video-details-r1-c2 #video-details-line-container {
            width: 120px;
            height: 4px;
            display: inline-block; }
            .video .video-details #video-details-heading #video-details-table #video-details-r1-c2 #video-details-line-container #video-details-like-line {
              float: left;
              border: 0px;
              height: 100%;
              background-color: #0CB71B; }
            .video .video-details #video-details-heading #video-details-table #video-details-r1-c2 #video-details-line-container #video-details-dislike-line {
              float: right;
              border: 0px;
              height: 100%;
              background-color: red; }
        .video .video-details #video-details-heading #video-details-table #video-details-r2-c2 {
          text-align: right; }
          .video .video-details #video-details-heading #video-details-table #video-details-r2-c2 a {
            text-decoration: none; }
            .video .video-details #video-details-heading #video-details-table #video-details-r2-c2 a #video-dugme-like {
              display: inline-block;
              font-size: 15px; }
            .video .video-details #video-details-heading #video-details-table #video-details-r2-c2 a #video-dugme-dislike {
              margin-left: 10px;
              display: inline-block;
              font-size: 15px; }
          .video .video-details #video-details-heading #video-details-table #video-details-r2-c2 p {
            display: inline-block;
            padding: 0px;
            margin: 0px; }
    .video .video-details dl {
      margin: 10px 0px 10px 0px; }
      .video .video-details dl dt {
        margin: 0px;
        width: 70px; }
      .video .video-details dl dd {
        margin-left: 77px; }
      @media screen and (max-width: 767px) {
        .video .video-details dl dt {
          margin-left: 6px; }
        .video .video-details dl dd {
          margin-left: 11px; } }
    .video .video-details hr {
      margin: 0px;
      border: 0px;
      height: 1px;
      background-color: #ddd; }
  .video #komentari-container {
    padding: 7px;
    margin-bottom: 12px;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.11); }
    .video #komentari-container #komentari-nema-komentara {
      margin: 0px; }
    .video #komentari-container #komentar-sort-wrap {
      width: 100%; }
      .video #komentari-container #komentar-sort-wrap #sort-filter {
        display: inline-block;
        margin-right: 15px; }
        .video #komentari-container #komentar-sort-wrap #sort-filter p {
          padding: 0px;
          margin: 0px; }
        .video #komentari-container #komentar-sort-wrap #sort-filter select {
          width: auto;
          padding: 4px 8px 4px 8px; }
      .video #komentari-container #komentar-sort-wrap #sort-by-filter {
        display: inline-block; }
        .video #komentari-container #komentar-sort-wrap #sort-by-filter p {
          padding: 0px;
          margin: 0px; }
        .video #komentari-container #komentar-sort-wrap #sort-by-filter .radio-inline {
          margin-right: 5px;
          margin-top: 6px; }
          .video #komentari-container #komentar-sort-wrap #sort-by-filter .radio-inline label {
            font-size: 20px;
            margin: 0px; }
      .video #komentari-container #komentar-sort-wrap #sortiraj-btn {
        float: right;
        margin: 10px 0px 10px 0px; }
      .video #komentari-container #komentar-sort-wrap hr {
        margin-top: 10px; }
    .video #komentari-container #komentar-novi-ime {
      padding: 0px;
      margin: 0px 0px 3px 0px; }
    .video #komentari-container #komentar-novi-container {
      margin-bottom: 10px; }
    .video #komentari-container #komentari-lista {
      margin-bottom: 5px; }
      .video #komentari-container #komentari-lista .komentar-ime {
        display: inline;
        padding: 0px;
        margin: 0px;
        font-weight: 500; }
      .video #komentari-container #komentari-lista .komentar-datum {
        display: inline;
        padding: 0px;
        margin: 0px 0px 0px 10px;
        color: #AAA;
        font-size: smaller; }
      .video #komentari-container #komentari-lista .komentar-sadrzaj {
        display: block;
        padding: 0px;
        margin: 0px;
        word-wrap: break-word; }
      .video #komentari-container #komentari-lista .komentar-button-like {
        display: inline;
        font-size: small; }
      .video #komentari-container #komentari-lista .komentar-broj-like {
        display: inline;
        margin-left: 4px;
        font-size: smaller; }
      .video #komentari-container #komentari-lista .komentar-button-dislike {
        display: inline;
        margin-left: 12px;
        font-size: small; }
      .video #komentari-container #komentari-lista .komentar-broj-dislike {
        display: inline;
        margin-left: 4px;
        font-size: smaller; }
      .video #komentari-container #komentari-lista .komentar-dugme-link {
        text-decoration: none; }
      .video #komentari-container #komentari-lista .komentar-edit-delete {
        float: right;
        margin: 3px;
        height: 14px; }
      .video #komentari-container #komentari-lista .komentar-sadrzaj-wrap textarea {
        resize: none; }
      .video #komentari-container #komentari-lista .komentar-sadrzaj-wrap .komentar-save-button {
        margin-top: 3px;
        float: right; }
    .video #komentari-container hr {
      margin: 0px 0px 10px 0px;
      padding: 0px;
      border-color: #DDD; }
    .video #komentari-container nav {
      margin: 0px 0px 0px 0px;
      text-align: center;
      height: auto; }
      .video #komentari-container nav #paginacija {
        margin: 0px 0px -6px 0px; }

.video-panel {
  margin: auto;
  padding-left: 5px;
  padding-right: 5px; }
  .video-panel a {
    text-decoration: none; }
    .video-panel a .video-panel-body {
      margin: 0px;
      padding: 0px; }
      .video-panel a .video-panel-body img {
        display: block;
        width: 100%; }
  .video-panel .video-panel-footer {
    padding: 3px; }
    .video-panel .video-panel-footer a {
      text-decoration: none; }
      .video-panel .video-panel-footer a #video-panel-naziv {
        padding: 0px;
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .video-panel .video-panel-footer a #video-panel-vlasnik {
      display: inline;
      padding: 0px;
      margin: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .video-panel .video-panel-footer #video-panel-pregledi {
      float: right;
      margin: 0px; }
    .video-panel .video-panel-footer #video-panel-datum {
      display: inline;
      margin: 0px;
      color: #AAA;
      font-size: smaller; }
    .video-panel .video-panel-footer #video-panel-lajkovi {
      float: right;
      margin: 0px; }

#pretraga-levo {
  display: block;
  position: fixed;
  padding: 10px 8px 10px 8px;
  height: calc(100% - 163px);
  background: #F5F5F5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  #pretraga-levo #naziv-filter p {
    padding: 0px;
    margin: 0px; }
  #pretraga-levo #vlasnik-filter {
    margin-top: 10px; }
    #pretraga-levo #vlasnik-filter p {
      padding: 0px;
      margin: 0px; }
  #pretraga-levo #broj-filter {
    margin-top: 14px;
    text-align: center; }
    #pretraga-levo #broj-filter p {
      padding: 0px;
      margin: 0px 0px 5px 0px; }
    #pretraga-levo #broj-filter #broj-slider {
      width: 90%;
      margin: auto; }
      #pretraga-levo #broj-filter #broj-slider .noUi-connect {
        background: #BBB; }
      #pretraga-levo #broj-filter #broj-slider .noUi-tooltip {
        height: 29px;
        bottom: 115%; }
  #pretraga-levo #datum-filter {
    margin-top: 10px; }
    #pretraga-levo #datum-filter #datum-filter-div {
      display: table-row;
      height: 25px; }
      #pretraga-levo #datum-filter #datum-filter-div p {
        display: inline; }
      #pretraga-levo #datum-filter #datum-filter-div #datum-filter-clear-btn {
        position: absolute;
        right: 0px;
        height: 25px;
        padding: 3px; }
    #pretraga-levo #datum-filter #datum-filter1 {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 6px 2px 6px 2px; }
    #pretraga-levo #datum-filter #datum-filter2 {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 6px 2px 6px 2px; }
  #pretraga-levo #sort-wrapper {
    margin-top: 10px;
    height: auto; }
    #pretraga-levo #sort-wrapper #sort-filter {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 10px; }
      #pretraga-levo #sort-wrapper #sort-filter p {
        padding: 0px;
        margin: 0px; }
      #pretraga-levo #sort-wrapper #sort-filter select {
        width: auto;
        padding: 4px 8px 4px 8px; }
    #pretraga-levo #sort-wrapper #sort-by-filter {
      display: inline-block; }
      #pretraga-levo #sort-wrapper #sort-by-filter p {
        padding: 0px;
        margin: 0px; }
      #pretraga-levo #sort-wrapper #sort-by-filter .radio-inline {
        margin-right: 5px;
        margin-top: 4px; }
        #pretraga-levo #sort-wrapper #sort-by-filter .radio-inline label {
          font-size: 20px;
          margin: 0px; }
  #pretraga-levo #pretraga-btn-wrapper {
    display: block;
    text-align: right; }

@media screen and (max-width: 767px) {
  #pretraga-levo {
    height: auto;
    position: initial;
    margin-bottom: 10px;
    border-radius: 10px; } }
#video-new {
  height: auto;
  padding: 10px;
  background: #F5F5F5;
  margin-bottom: 6px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  #video-new #video-new-image-wrap #video-new-image {
    width: 246px;
    height: 138px; }

#pretraga-korisnika-levo {
  display: block;
  position: fixed;
  padding: 10px 8px 10px 8px;
  height: calc(100% - 163px);
  background: #F5F5F5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  #pretraga-korisnika-levo p {
    padding: 0px;
    margin: 0px; }
  #pretraga-korisnika-levo #filter-korisnicko-ime {
    margin-top: 10px; }
  #pretraga-korisnika-levo #filter-ime {
    margin-top: 10px; }
  #pretraga-korisnika-levo #filter-prezime {
    margin-top: 10px; }
  #pretraga-korisnika-levo #filter-email {
    margin-top: 10px; }
  #pretraga-korisnika-levo #filter-uloga {
    margin-top: 10px; }
  #pretraga-korisnika-levo #sort-wrapper {
    margin-top: 10px;
    height: auto; }
    #pretraga-korisnika-levo #sort-wrapper #sort-filter {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 10px; }
      #pretraga-korisnika-levo #sort-wrapper #sort-filter p {
        padding: 0px;
        margin: 0px; }
      #pretraga-korisnika-levo #sort-wrapper #sort-filter select {
        width: auto;
        padding: 4px 8px 4px 8px; }
    #pretraga-korisnika-levo #sort-wrapper #sort-by-filter {
      display: inline-block; }
      #pretraga-korisnika-levo #sort-wrapper #sort-by-filter p {
        padding: 0px;
        margin: 0px; }
      #pretraga-korisnika-levo #sort-wrapper #sort-by-filter .radio-inline {
        margin-right: 5px;
        margin-top: 4px; }
        #pretraga-korisnika-levo #sort-wrapper #sort-by-filter .radio-inline label {
          font-size: 20px;
          margin: 0px; }
  #pretraga-korisnika-levo #pretraga-btn-wrapper {
    display: block;
    text-align: right; }

@media screen and (max-width: 767px) {
  #pretraga-korisnika-levo {
    height: auto;
    position: initial;
    margin-bottom: 10px;
    border-radius: 10px; } }
.page {
  margin-top: 70px;
  margin-left: -15px;
  margin-right: -15px;
  height: calc(100% - 150px); }

@media screen and (max-width: 767px) {
  .page {
    height: calc(100% - 420px);
    margin-top: 170px; } }
.main {
  display: block;
  padding: 0px 8px 0px 8px; }

/*# sourceMappingURL=style.css.map */
