/* SCSS fajl za ceo sajt. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za gornju navigaciju. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za bocnu levu navigaciju. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za donju navigaciju. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za stranicu profila. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
/* SCSS fajl za stranicu videa. 
**
** Autor: Aleksa Kolarski (SF 27/2016)
** 2018
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }

html {
  height: 100%; }

body {
  height: 100%; }

.osnova {
  height: 100%; }

.navigacija-gore {
  position: fixed;
  z-index: 2;
  padding: 0px;
  margin-top: 7px;
  height: 50px;
  background: #F5F5F5;
  top: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  .navigacija-gore nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 50px; }
    .navigacija-gore nav ul li {
      padding-left: 10px;
      padding-right: 10px; }
  .navigacija-gore .navigacija-logo {
    margin-left: 6px;
    line-height: 50px; }
    .navigacija-gore .navigacija-logo a {
      text-decoration: none; }
  .navigacija-gore .navigacija-search {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px; }
    .navigacija-gore .navigacija-search input {
      height: 36px; }
    .navigacija-gore .navigacija-search .input-group-btn {
      width: 40px; }
      .navigacija-gore .navigacija-search .input-group-btn button {
        height: 36px;
        padding-top: 9px;
        padding-bottom: 9px; }
  .navigacija-gore #navigacija-gore-polje {
    line-height: 50px;
    height: 50px; }
    .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil {
      position: absolute;
      right: 10px;
      top: 7px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil button {
        padding-top: 8px;
        padding-bottom: 6px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil .divider {
        margin: 0px;
        height: 1px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #login-dropdown {
        width: 240px;
        height: 132px;
        padding: 5px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #login-dropdown li {
          padding: 0px;
          height: 39px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #login-dropdown input {
          margin-bottom: 5px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #login-dropdown button {
          margin-top: -2px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #register-dropdown {
        width: 240px;
        height: 250px;
        padding: 5px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #register-dropdown li {
          padding: 0px;
          height: 39px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #register-dropdown input {
          margin-bottom: 5px; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #register-dropdown button {
          margin-top: -2px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil p {
        display: inline-block;
        color: #f00;
        margin-left: 10px;
        margin-bottom: 0px;
        margin-top: -3px;
        width: 130px;
        line-height: 13px;
        vertical-align: middle;
        size: 9px; }
      .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #profil-dropdown {
        width: 50px;
        height: auto;
        padding: 5px;
        text-align: center; }
        .navigacija-gore #navigacija-gore-polje .btn-gore-group-login-register-profil #profil-dropdown a {
          line-height: 19px; }

@media screen and (max-width: 767px) {
  .navigacija-gore {
    height: 155px;
    position: absolute; } }
.navigacija-levo {
  display: block;
  position: fixed;
  padding: 0px;
  height: calc(100% - 163px);
  background: #F5F5F5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  .navigacija-levo ul {
    list-style: none;
    padding: 0px;
    margin: 15px; }
    .navigacija-levo ul a {
      text-decoration: none; }
    .navigacija-levo ul .sidebar-menu-item {
      height: 30px;
      padding: 0px 0px 0px 5px;
      border-radius: 2px;
      line-height: 30px; }
    .navigacija-levo ul .sidebar-menu-item:hover {
      background: #DDDDDD; }
    .navigacija-levo ul .sidebar-subscribed-channel {
      height: 30px;
      margin: 5px 0px 0px 10px;
      padding: 0px 0px 0px 5px;
      border-radius: 2px;
      line-height: 30px; }
      .navigacija-levo ul .sidebar-subscribed-channel img {
        float: right; }
    .navigacija-levo ul .sidebar-subscribed-channel:hover {
      background: #DDDDDD; }

@media screen and (max-width: 767px) {
  .navigacija-levo {
    display: none; } }
.navigacija-dole {
  height: 80px;
  background: #F5F5F5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  .navigacija-dole ul {
    list-style: none;
    height: 100%; }

@media screen and (max-width: 767px) {
  .navigacija-dole {
    height: 250px; } }
.profile-details {
  padding: 10px;
  background: #F5F5F5;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18); }
  .profile-details .details-polje {
    vertical-align: middle;
    display: inline;
    height: auto;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 1px;
    word-wrap: break-word; }
    .profile-details .details-polje input {
      display: inline-block;
      margin: 0px;
      height: 22px;
      width: 150px;
      padding: 1px 4px 1px 4px; }
    .profile-details .details-polje #input-opis-profil {
      padding: 1px 3px 1px 3px;
      width: 200px;
      resize: none; }
    .profile-details .details-polje p {
      margin: 0px; }
  .profile-details .btn-edit-profile {
    position: absolute;
    top: 10px;
    right: 10px; }
  .profile-details .btn-save-profile {
    margin: 7px 9px 0px 0px; }
  .profile-details .btn-cancel-profile {
    margin: 7px 9px 0px 0px; }
  .profile-details #save-profile-log {
    display: inline-block; }
  .profile-details p {
    margin: 0px;
    display: inline; }

.video {
  padding: 0px; }
  .video h3 {
    margin: 5px 0px 5px 0px; }
  .video .embed-responsive-16by9 {
    padding-bottom: 56.25%; }
    .video .embed-responsive-16by9 iframe {
      width: 100%;
      height: 100%;
      position: absolute; }
  .video .video-details {
    margin: 0px 0px 20px 0px; }
    .video .video-details #video-details-heading {
      background-color: white;
      border-color: white;
      padding: 6px 10px 5px 10px; }
      .video .video-details #video-details-heading #video-details-table {
        width: 100%;
        table-layout: fixed; }
        .video .video-details #video-details-heading #video-details-table #video-details-r0-c1 {
          width: 60px;
          text-align: center;
          vertical-align: bottom; }
        .video .video-details #video-details-heading #video-details-table #video-details-r0-c2 {
          text-align: right; }
        .video .video-details #video-details-heading #video-details-table #video-details-r1-c1 {
          text-align: center; }
          .video .video-details #video-details-heading #video-details-table #video-details-r1-c1 a {
            text-decoration: none; }
          .video .video-details #video-details-heading #video-details-table #video-details-r1-c1 span {
            vertical-align: bottom;
            margin: 0px;
            padding: 0px; }
        .video .video-details #video-details-heading #video-details-table #video-details-r1-c2 {
          text-align: right; }
    .video .video-details dl {
      margin: 10px 0px 10px 0px; }
      .video .video-details dl dt {
        margin: 0px;
        width: 70px; }
      .video .video-details dl dd {
        margin-left: 77px; }
      @media screen and (max-width: 767px) {
        .video .video-details dl dt {
          margin-left: 6px; }
        .video .video-details dl dd {
          margin-left: 11px; } }
    .video .video-details hr {
      margin: 0px;
      border: 0px;
      height: 1px;
      background-color: #ddd; }

.page {
  margin-top: 70px;
  margin-left: -15px;
  margin-right: -15px;
  height: calc(100% - 150px); }

@media screen and (max-width: 767px) {
  .page {
    height: calc(100% - 420px);
    margin-top: 170px; } }
.main {
  display: block;
  padding: 0px 8px 0px 8px; }

.pnl {
  margin: auto;
  padding-left: 5px;
  padding-right: 5px; }

.panel-body {
  margin: 0px;
  padding: 0px; }
  .panel-body img {
    display: block;
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=style.css.map */
